.homelayout {
  display: flex;
  justify-content: space-between;
}

.graph-div {
  background-color: rgba(0, 0, 0, 0);
  width: 800px;
  margin-right: 50px;
}

.borderWidth {
  font-size: 20px;
}

.pcselectdiv {
  width: 31%;
  display: flex;
  justify-content: space-between;
}

.graph-select {
  margin-right: 10px;
}

