html,body{
  background-color: #fff;
}
.nav-main{
    width: 100%;
    height: 35px;
    background-color: black;
    display: flex;
}
.navbarDropdown{
  transform: transitiontranslate(0%,-10%);
}
.nav-main-content{
    flex-grow: 2;
    padding: 0 0 0 10px;
    transform: translate(0px, -3px);
}

.nav-main-menu{
    // box-shadow: 20px 12px 25px 1px #fff;
    display: flex;
    flex-grow: 0.1;
    height: 33px;
    justify-content: space-between;
    // padding-right: 20px;
}

.judgment{
  display: inline;
}
.judgmentdiv{
  margin: -3px 0px 0px -6px;
}
// 以下ゴールドボタン
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
.btn,
a.btn,
button.btn,
button.btn,
.nav-main-li
{
  font-weight: 700;
  line-height: 1;
  position: relative;
  display: inline-block;
  padding: 4px 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  // transform: translate(0%,-10%);
}

.btn-border-gradient-wrap{
  display: inline-block;
  border-radius: 0.5rem;
}

.btn-border-gradient-wrap--gold {
  height: 30px;
}
.btn-border-gradient-wrap--gold1{
  background-image: -webkit-linear-gradient(
    315deg,
    #704308 0%,
    #ffce08 37%,
    #fefeb2 47%,
    #fafad6 50%,
    #fefeb2 53%,
    #e1ce08 63%,
    #704308 100%
  );
  background-image: linear-gradient(
    135deg,
    #704308 0%,
    #ffce08 37%,
    #fefeb2 47%,
    #fafad6 50%,
    #fefeb2 53%,
    #e1ce08 63%,
    #704308 100%
  );
  height: 34px;
  width: 65px;
  padding: 1px 0px 0 1px;
}
.menuline{
  border-bottom: 2px solid #ededed;
}
.btn-width{
  width: 70px;
  transform: translate(325%, -20%)
}
.pcselectbtwidth{
  width: 70px;
}
.calendarbtn-width{
  display: flex;
  justify-content: space-between;
  width: 283px;
}
.addbtndiv .addbutton .addspan{
  font-size: 18px;
}
.addbutton{
  width: 41px;
}

// .addbtndiv{
//   width: 80px;
// }


.btn-border-gradient-wrap--gold:hover a.btn,.btn-border-gradient-wrap--gold:hover button.btn {
  text-shadow: 0 0 15px rgba(250, 250, 214, 0.5),
    0 0 15px rgba(250, 250, 214, 0.5), 0 0 15px rgba(250, 250, 214, 0.5),
    0 0 15px rgba(250, 250, 214, 0.5);
}

button.btn-border-gradient {
  font-size: 21px;
  background-color: #2b2b2b;
}
a.btn-border-gradient{
  font-size: 21px;
  background: radial-gradient(#000000,#000);
}

.btn-text-gradient--gold,.bt {
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro",
    "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;

  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#ffffdb),
    to(#a16422)
  );

  background: -webkit-linear-gradient(bottom, #ffffdb, #a16422);

  background: linear-gradient(to top, #ffffdb, #a16422);
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

// 以下シルバーボタン
.bt,
p.bt,
button.bt {
  font-weight: 700;
  line-height: 0.9;
  position: relative;
  display: inline-block;
  padding: 0px 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  transform: translate(-10%,30%);
}


.bt-border-gradient-wrap {
  display: inline-block;

  padding: 0.2rem;

  border-radius: 0.5rem;
}
p.bt-border-gradient {
  font-size: 21px;
}

.bt-text-gradient--silver {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#fff),
    to(#999)
  );
  background: -webkit-linear-gradient(bottom, #fff, #999);
  background: linear-gradient(to top, #fff, #999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link{
   background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em);
  -webkit-background-clip: text;
  color: transparent;
   font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'Hiragino Mincho ProN', 'HGS明朝E', 'ＭＳ Ｐ明朝', serif;
  font-size: 18px;
  font-weight: bold;
}
.nav-link:hover {
 color: pink;   
}