html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #FCF97A;
  justify-content: space-around;
}

.form-signin {
  width: 100%;
  max-width: 476px;
  padding-left: 100px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.entire{
  display: flex;
  flex-direction:column;
  align-items: center;
  
}
.signinimage{
  width: 500px;
}

.mybutton{
  margin-top:50px;
}
.upbutton{
  margin-top:50px;
}

.login-header {
  font-size: 30px;
  font-weight: bold;
  font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'Hiragino Mincho ProN', 'HGS明朝E', 'ＭＳ Ｐ明朝', serif;
  position: relative;
  padding: 0.5rem 2rem;
  -webkit-box-shadow: 0 2px 14px rgba(0, 0, 0, .1);
  box-shadow: 0 2px 14px rgba(0, 0, 0, .1);
}


.login-header:before,
.login-header:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  content: '';
  background-image: -webkit-linear-gradient(315deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
  background-image: linear-gradient(135deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
}

.login-header:before {
  top: 0;
}

.login-header:after {
  bottom: 0;
}

.login-body{
  margin-top:20px;
  max-width: 100%;
}

.btn{
  width: 260px;
  height: 50px;
}

form{
  width: 140%;
}

.form-signin　a {
  color: #fff;
  font-weight: bold;
  font-size:20px;
}

.form-group .col-md-8,.btn{
  color: #fff;
  font-weight: bold;
  font-size:20px;
}

.form-group .col-md-6 .btn{
  color: #fff;
  font-weight: bold;
  font-size:20px;
}

.form-signin.btn{
  color: #fff;
  font-weight: bold;
  font-size:20px;
}
.signin-nav{
  display: flex;
  justify-content:flex-end;
  width: 140%;
}
.signin-nav-content{
  width: 1000px;
  display: flex;
  justify-content: flex-end;
}

.signin-nav-content a{
 display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#4fb5ef, #0076b9 100%);
  border: 1px solid #005e94;
  border-radius: 12px;
  box-shadow: inset 0px 0px 2px 0px rgb(255, 255, 255);
  box-shadow: 0px 4px 4px 0px rgb(175, 175, 175);
  box-sizing: border-box;
  width: 10%;
  height: 35px;
  color: #fff;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  transition-duration: 0.2s;
  // position: absolute;
  top: 50%;
  left: 50%;
}

.signin-nav-content a:hover {
  opacity: .7;
}

.login-box{
  width: 800px;
  max-width: 100%;
}