.achievement-layout {
  display: flex;
}

.edit-layout {
  margin-left: 50px;
  width: 52%;
}

.edittable tr,
.edittable td,
.edittable th {
  color: white;
  border: 2px solid #fff;
}

.personaledit {
  color: #ffe501;
}

.personalfont,
.personaledit,
.edittable th {
  font-size: 18px;
}

.personaldelete {
  font-size: 20px;
  margin-left: 10px;
}

.edittable {
  background-color: black;
}

.edit-thead th {
  padding: 5px;
  text-align: center;
}

.edit-tbody td {
  padding: 6px;
}

.homeachievewidth {
  width: 70%;
  margin: 0 auto;
}

